@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');


body {
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

#wrapper {
    display: grid;
    grid-template-columns: 13% 1fr;
    grid-template-rows: 90vh auto auto;
    grid-template-areas:
        'ma ma'
        'ar ar'
        'fo fo'
}



#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
    position: relative;
    padding: 0px 20px;
    font-family: 'Rubik', sans-serif;
}

header a {
    text-decoration: none;
    color: black;
}

#nav {
    flex: 1;    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

#nav a{
    text-decoration: none;
    color: #0e6856;
    font-size: 20px;
    font-weight: bold;
}

#nav a:hover{
    transition: all 0.2s ease-in-out; 
    color:#0e68566d;
}

main {
    grid-area: ma;
    display: flex ;
    flex-direction: column;
    color: white;
    font-size: 4.5rem;
    align-items: center ;
    justify-content: center;
    background-image: url(/img/new_main.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Rubik', sans-serif;    
}

main h1{
    margin: 0;
    color: transparent; 
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    
}

 h6 {
    margin: 0px;
}



article {
    grid-area: ar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 250px;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    height: 10px;
}

article p {
    width: 70%;
    margin: 0px;
}

article h2{
    margin-bottom: 1rem;
    margin-top: 0;
}

article img{
    width: 500px;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}



#footer {
    grid-area: fo;
    background-color: #0e6856;
    height: 25vh;
}

#articleImageOne {
    width: 1500px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);

    background: url(../img/article_v3.jpg);
    background-size: cover;
    background-position: center;
    
    padding:10px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}

#articleImageOne p{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
   
}

#articleImageOne:hover{
    transform: scale(1.02);
}