@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');


body {
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90vh auto auto;
    grid-template-areas:
        'ma ma ma'
        'ar ar ar'
        'fo1 fo2 fo3'
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);
    position: relative;
    padding: 0px 20px;
    font-family: 'Rubik', sans-serif;
}

header a {
    text-decoration: none;
    color: black;
}

#nav {
    flex: 1;    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

#nav a{
    text-decoration: none;
    color: #0e6856;
    font-size: 20px;
    font-weight: bold;
}

#nav a:hover{
    transition: all 0.2s ease-in-out; 
    color:#0e68566d;
}

.fo1 {
    grid-area: fo1;
    background-color: #0e6856;
    height: 25vh;
    color: white;

    padding: 1rem;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;    
}

.fo1 h5 {
    margin-top: 2rem;
    margin-bottom: 1px;
    margin-left: 3rem;
}

.fo1 p {
    margin-top: 2px;
    margin-left: 3rem;
    text-decoration: underline;
}

.fo2 {
    grid-area: fo2;
    background-color: #0e6856;
    height: 25vh;
    color: white;

    padding: 1rem;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.fo2 p {
    margin: 1rem;
    text-decoration: underline;
}

.fo3 {
    grid-area: fo3;
    background-color: #0e6856;
    height: 25vh;
    color: white;

    padding: 1rem;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column; 
    align-items: end;
    justify-content: center;
}

.fo3 a {
    text-decoration: underline;
    color: white;
    
    margin: 1rem;
    margin-right: 7rem;
}



#main {
    grid-area: ma;
    display: flex ;
    flex-direction: column;
    color: white;
    font-size: 4.5rem;
    align-items: center ;
    justify-content: center;
    background-image: url(/img/new_main.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Rubik', sans-serif;    
}

#main h1{
    margin: 0;
    color: transparent; 
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    
}

 h6 {
    margin: 0px;
}



article {
    grid-area: ar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 250px;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    height: 10px;
}

article p {
    width: 70%;
    margin: 0px;
}

article h2{
    margin-bottom: 1rem;
    margin-top: 0;
}

article img{
    width: 500px;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}



#footer {
    grid-area: fo;
    background-color: #0e6856;
    height: 25vh;
    color: white;
}

#articleImageOne {
    width: 400px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);

    background: url(../img/article_v3.jpg);
    background-size: cover;
    background-position: center;
    
    padding:10px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}

#articleImageOne p{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
}

#articleLink1 {
    text-decoration: none;
}

#articleImageOne:hover{
    transform: scale(1.02);
}


/*__________________________________________________________________________*/

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto ;
    grid-template-areas:
        'ma ma ma'
        'se se se'
        'fo1 fo2 fo3'
}

#main_2 {
    grid-area: ma;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#mainh1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
    color: #d9f8f2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0e6856;
    text-shadow: 4px 10px 5px rgba(0,0,0,0.2);;
}

#sec_2 {
    grid-area: se;
    display: flex;
    justify-content: space-between;
}

#main_pic {
    display: flex;
    flex-direction: row;
}

#terapi {
    width: 570px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);

    background: url(../img/terapi.jpg);
    background-size: cover;
    background-position: center;
    
    padding:10px;
    margin: 2rem;
    margin-top: 0px;
    margin-right: 0px;

    transition: all 0.1s ease-in-out;
}

#terapi p{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    color: white; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0e68566f;
    text-shadow: 4px 10px 5px rgba(0,0,0,0.5);
}

#socialt {
    width: 810px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);

    background: url(../img/social.jpg);
    background-size: cover;
    background-position: center;

    padding:10px;
    margin: 2rem;
    margin-top: 0px;

    transition: all 0.1s ease-in-out;

}

#socialt p{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    color: white; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0e68566f;
    text-shadow: 4px 10px 5px rgba(0, 0, 0, 0.5);
}

#chat {
    width: 880px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);

    background: url(../img/chat.jpg);
    background-size: cover;
    background-position: center;

    padding:10px;
    margin: 2rem;
    margin-top: 0px;
    margin-right: 0px;

    transition: all 0.1s ease-in-out;
}

#chat p{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    color: white; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0e68566f;
    text-shadow: 4px 10px 5px rgba(0,0,0,0.5);
}


#vetaMer {
    width: 500px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);

    background: url(../img/article.jpg);
    background-size: cover;
    background-position: center;

    padding:10px;
    margin: 2rem;
    margin-top: 0px;

    transition: all 0.1s ease-in-out;
}

#vetaMer p{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    color: white; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0e68566f;
    text-shadow: 4px 10px 5px rgba(0,0,0,0.5);
}

.link2 {
    text-decoration: none;
}

#terapi:hover{
    transform: scale(1.02);
}

#socialt:hover{
    transform: scale(1.02);
}

#chat:hover{
    transform: scale(1.02);
}

#vetaMer:hover{
    transform: scale(1.02);
}


/*__________________________________________________________________________*/

#box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45vh 45vh auto;
    grid-template-areas:
        'ma ma ma'
        'se se se'
        'fo1 fo2 fo3'
}

#main3 {
    grid-area: ma;
}

#main3 {
    grid-area: ma;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
}

#section3 {
    grid-area: se;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1rem;
    padding-top: 0px;
  
}

#bubbla1 {
    width: 810px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);

    background: url(../img/main_info.jpg);
    background-size: cover;
    background-position: 0px -50px;

    padding: 10px;
    margin: 2rem;

    display: flex;
}

#text1 {
    width: 550px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

    
}
#text1 p {
    width: 85%;
}


#text2 {
    width: 600px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

    margin: 2rem;
    margin-left: 10rem;

    
}

#text2 h1 {
    font-size: 40px;
    margin: 5px;

    margin-left: 0px;
}

#text2 p {
    width: 95%;
}


#bubbla2 {
    width: 900px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);

    background: url(/img/sectionbubbla.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(70%); 

    padding: 10px;
    margin: 2rem;

    display: flex;
}
